<ul class="nav nav-tabs">
    <li role="presentation"><a ng-href="/new/#/universe/{{Universe}}/">Overview</a></li>
    <li role="presentation" class="active"><a ng-href="/new/#/universe/{{Universe}}/sliders">Sliders</a></li>
    <li role="presentation"><a ng-href="/new/#/universe/{{Universe}}/keypad">Keypad</a></li>
    <li role="presentation"><a ng-href="/new/#/universe/{{Universe}}/rdm">RDM</a></li>
    <li role="presentation"><a ng-href="/new/#/universe/{{Universe}}/patch">RDM Patcher</a></li>
    <li role="presentation"><a ng-href="/new/#/universe/{{Universe}}/settings">Settings</a></li>
</ul>
<div class="row">
    <div class="col-xs-12 navigate">
        <button ng-click="page(0)" class="col-xs-3 left-col">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button ng-click="light(0)" class="col-xs-2 off">
            <img height="16" width="16" src="/img/light_bulb_off.png">
        </button>
        <div class="col-xs-2">
            {{offset + 1}}/{{ceil(512/limit)}}
        </div>
        <button ng-click="light(255)" class="col-xs-2 on">
            <img height="16" width="16" src="/img/light_bulb.png">
        </button>
        <button ng-click="page(1)" class="col-xs-3 right-col">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
    <div class="col-xs-12 sliders">
        <div ng-style="width" class="slider-group"
             ng-repeat="c in list | startFrom:offset*limit | limitTo:limit track by $index">
            <div class="channel-slider">{{c + 1}}</div>
            <input ng-change="change()" class="slider-slider" min="0" max="255" type="range" ng-model="get[c]">
            <div class="value-slider">{{get[c]}}</div>
        </div>
    </div>
</div>
<div class="value-field">
    <div class="value-div" ng-repeat="c in get track by $index">
        <span class="value-span" ng-style="{'background-color': 'rgb('+c+','+c+','+c+')', 'color': getColor(c)}">{{c}}</span>
    </div>
</div>
