[Unit]
Description=Ola Daemon (User instance)
Documentation=https://docs.openlighting.org/ola/conf/
Documentation=https://www.openlighting.org/ola/
Documentation=https://github.com/OpenLightingProject/ola

[Service]
# Task control options
Type=notify
ExecStart=/usr/bin/olad
ExecReload=/usr/bin/kill -HUP $MAINPID
NotifyAccess=main
Restart=on-failure

# Exec Options
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=tmpfs
ProtectControlGroups=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native

# Directory specifications
ConfigurationDirectory="~/.ola/"
WorkingDirectory=~

[Install]
WantedBy=default.target

