.fader-fader{
   writing-mode: bt-lr; /* IE */
   writing-mode: vertical-rl;
   -webkit-appearance: slider-vertical; /* WebKit */
}
.fader-group{
  display: inline-block;
  text-align: center;
  border: solid #67a7e3 1px;
  border-radius: 4px;
  height: 171px;
  margin: 1px;
}
.faders{
  text-align: center;
  padding: 1px;
}
button.col-xs-3, button.col-xs-3:active, button.col-xs-3:focus{
  color: #ffffff;
  background-color: #67a7e3;
  border-color: transparent;
}
.col-xs-2.ng-binding{
  text-align: center;
  color: #ffffff;
  background-color: #67a7e3;
  height: 26px;
  line-height: 2;
  font-weight: bold;
}
.on{
  color: #ffffff;
  background-color: #67a7e3;
  border-color: transparent;
}
.off{
  color: #ffffff;
  background-color: #67a7e3;
  border-color: transparent;
}
.right-col{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.left-col{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.navigate{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
}
.value-div{
  display: inline-block;
}
.value-span{
  display: inline-block;
  font-size: 11px;
  border-bottom: 1px solid #67a7e3;
  border-right: 1px solid #67a7e3;
  width: 20px;
  text-align: center;
  margin: 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px
}
.row{
  padding: 5px;
  text-align: center;
}
.index, .value{
  text-align: center;
  width: 100%;
  height: 50%;
}
.channel{
  width: 40px;
  text-align: center;
  display: inline-block;
  border: solid #337ab7 1px;
  border-radius: 4px;
}
.status{
  padding: 5px;
  text-align: center;
  border: solid black 1px;
}
.status-light{
  width: 20px;
}
.status-light, .status{
  display: inline-block;
  border-radius: 20px;
}
th.top-table, tr.special-mouse>td{
  text-align: center;
  padding: 8px;
}
.plugin-table{
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.round-corners{
  border: solid black 1px;
  border-radius: 10px;
}
.top-table{
  border-bottom: solid black 1px;
}
tr.striped-table:nth-of-type(even){
  background-color: #F8F8F8;
  border-top: solid lightgrey 1px;
  border-bottom: solid lightgrey 1px;
}
.special-mouse{
  cursor: pointer;
}
.mobile-info{
  width: 60%;
  text-align: center;
  font-size: 10px;
}
.desktop-info {
  font-size: 12px;
}
.desktop-info, .mobile-info{
  margin-top: 8px;
  margin-bottom: 8px;
}
div.checkbox-tr{
    text-align: center;
    vertical-align: middle;
}
table.info>tbody>tr>td{
  border-bottom: solid grey 1px;
  padding-left: 5px;
  padding-right: 5px;
}
table.table>tbody>tr>td.left-table{
  text-align: left;
}
.settings-table{
    text-align: left;
}
.settings-table>table{
    width: 100%;
}
input.priority{
    width: 70px;
}
select.priority{
    width: 90px;
}
