<!DOCTYPE html>
<html lang="en" ng-app="olaApp">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OLA</title>
  <link rel="stylesheet" href="/new/libs/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/new/css/style.min.css"/>
  <link rel="icon" type="image/png" sizes="192x192" href="img/favicons/android-chrome-192x192.png">
  <link rel="manifest" href="img/favicons/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="230x230" href="img/favicons/favicon-230x230.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
  <link rel="shortcut icon" href="img/favicons/favicon.ico">
  <link rel="yandex-tableau-widget" href="img/favicons/yandex-browser-manifest.json">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/new/img/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/new/img/favicons/browserconfig.xml">
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="img/favicons/apple-touch-startup-image-750x1294.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="img/favicons/apple-touch-startup-image-1182x2208.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="img/favicons/apple-touch-startup-image-1242x2148.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="img/favicons/apple-touch-startup-image-320x460.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="img/favicons/apple-touch-startup-image-640x920.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="img/favicons/apple-touch-startup-image-640x1096.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="img/favicons/apple-touch-startup-image-1024x748.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="img/favicons/apple-touch-startup-image-768x1004.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="img/favicons/apple-touch-startup-image-1536x2008.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="img/favicons/apple-touch-startup-image-2048x1496.png">
</head>
<body>
<nav class="navbar navbar-default" ng-controller="menuCtrl">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="/new/#/">
    <img height="22" width="51" src="img/logo-mini.png"/>
   </a>
   <div class="navbar-text navbar-info navbar-mobile">
    {{Info.instance_name}}<br/>{{Info.ip}}
   </div>
  </div>
  <div class="navbar-text navbar-info navbar-desktop ">
   {{Info.instance_name}}<br/>{{Info.ip}}
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
    <li><a href="/new/#/">Home</a></li>
    <li class="dropdown">
     <a href="/new/#/universes/" style="display:inline-block;padding-right:0px;" >Universes</a>
     <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="display:inline-block;padding-left:0px;">
      <span class="caret"></span>
     </a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="/new/#/universe/add">Add Universe</a></li>
      <li ng-if="Items.universes" class="divider"></li>
      <li ng-repeat="universe in Items.universes">
       <a href="/new/#/universe/{{universe.id}}">{{universe.name}}</a>
      </li>
     </ul>
    </li>
    <li><a href="/new/#/plugins">Plugins</a></li>
    <li><a href="/ola.html">Old UI</a></li>
   </ul>
  </div>
  <!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<noscript>
  <br>
  <p align="center">
    <strong>This interface requires JavaScript to function. If you
      would like to use it, please enable JavaScript and reload the
      page.</strong>
  </p>
  <br>
</noscript>
<div id="errorAlerts"></div>
<div id="ngView" class="container-fluid" ng-view></div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
     aria-labelledby="errorModalLabel" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="errorModalLabel">Error</h4>
   </div>
   <div class="modal-body" id="errorModalBody">
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
     Close
    </button>
   </div>
  </div>
 </div>
</div>
<div id="javascript">
  <script type="text/javascript" src="/new/libs/angular/js/angular.min.js"></script>
  <script type="text/javascript" src="/new/libs/angular-route/js/angular-route.min.js"></script>
  <script type="text/javascript" src="/new/libs/jquery/js/jquery.min.js"></script>
  <script type="text/javascript" src="/new/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/new/js/app.min.js"></script>
</div>
</body>
</html>
