#!/bin/sh 
# ola package configuration script

set -e

conffile="/etc/default/ola"

get_config_file()
{
	config_field=$1
	db_field=$2
	
	if [ -f "$conffile" ] ; then
   		VALUE="$(grep "^[ ]*$config_field" $conffile | sed -e "s/^$config_field *= *\"\(.*\)\"/\1/g")" 
		if [ -n "$VALUE" ] ; then
			db_set $db_field "$VALUE"
		fi
	fi		
}

# Source debconf library -- we have a Depends line
# to make sure it is there...
. /usr/share/debconf/confmodule
db_version 2.0

if [ "$1" = configure -o "$1" = reconfigure ] ; then
	get_config_file DAEMON ola/daemon
	get_config_file RUN_DAEMON ola/daemon
	db_input high ola/daemon || true
	
	db_go
	
	db_get ola/daemon
fi

exit 0
