<ul class="nav nav-tabs">
    <li role="presentation"><a ng-href="/#/universe/{{Universe}}/">Overview</a></li>
    <li role="presentation"><a ng-href="/#/universe/{{Universe}}/sliders">Sliders</a></li>
    <li role="presentation"><a ng-href="/#/universe/{{Universe}}/keypad">Keypad</a></li>
    <li role="presentation"><a ng-href="/#/universe/{{Universe}}/rdm">RDM</a></li>
    <li role="presentation" class="active"><a ng-href="/#/universe/{{Universe}}/patch">RDM Patcher</a></li>
    <li role="presentation"><a ng-href="/#/universe/{{Universe}}/settings">Settings</a></li>
</ul>
<div></div>