<div class="row">
 <div style="text-align: left" class="col-md-6">
  <h2>&nbsp;Plugins:</h2>
 </div>
 <div style="text-align: right" class="col-md-6">
  <button class="btn btn-default btn-md btn-grey" type="button" ng-click="Reload()">Reload plugins</button>
 </div>
</div>
<div class="round-corners">
  <table class="plugin-table">
    <tr>
      <th class="top-table">Name</th>
      <th class="top-table">Enabled</th>
      <th class="top-table">Active</th>
    </tr>
    <tr class="special-mouse striped-table" ng-repeat="plugin in Items.plugins">
      <td ng-click="go(plugin.id)">
          {{plugin.name}}&nbsp;<span class="glyphicon glyphicon-info-sign plugin-icon"></span>
      </td>
      <td ng-click="go(plugin.id)">
        <div class="status-light" ng-style="enabled[plugin.id]">&nbsp;</div>
      </td>
      <td ng-click="go(plugin.id)">
        <div class="status-light" ng-style="active[plugin.id]">&nbsp;</div>
      </td>
    </tr>
  </table>
</div>
