<div class="round-corners">
  <table class="plugin-table">
    <tr>
      <th class="top-table">Name</th>
      <th class="top-table">Enabled</th>
      <th class="top-table">Active</th>
    </tr>
    <tr class="special-mouse striped-table" ng-repeat="plugin in Items.plugins">
      <td ng-click="go(plugin.id)">
          {{plugin.name}}&nbsp;<span class="glyphicon glyphicon-info-sign plugin-icon"></span>
      </td>
      <td ng-click="go(plugin.id)">
        <div class="status-light" ng-style="enabled[plugin.id]">&nbsp;</div>
      </td>
      <td ng-click="go(plugin.id)">
        <div class="status-light" ng-style="active[plugin.id]">&nbsp;</div>
      </td>
    </tr>
  </table>
</div>
