<div ng-include="'/new/views/universe-header.html'"></div>
<div class="panel panel-default keypad">
 <div class="panel-body">
  <div class="keypad-field static-fake">255 THRU 255 @ FULL</div>
  <button class="btn btn-keypad backspace">&lt;</button>
 </div>
 <table class="keypad-keys">
  <tr>
   <td>
    <button class="btn btn-keypad">7</button>
   </td>
   <td>
    <button class="btn btn-keypad">8</button>
   </td>
   <td>
    <button class="btn btn-keypad">9</button>
   </td>
   <td>
    <button class="btn btn-keypad">THRU</button>
   </td>
  </tr>
  <tr>
   <td>
    <button class="btn btn-keypad">4</button>
   </td>
   <td>
    <button class="btn btn-keypad">5</button>
   </td>
   <td>
    <button class="btn btn-keypad">6</button>
   </td>
   <td>
    <button class="btn btn-keypad">@</button>
   </td>
  </tr>
  <tr>
   <td>
    <button class="btn btn-keypad">1</button>
   </td>
   <td>
    <button class="btn btn-keypad">2</button>
   </td>
   <td>
    <button class="btn btn-keypad">3</button>
   </td>
   <td>
    <button class="btn btn-keypad">FULL</button>
   </td>
  </tr>
  <tr>
   <td>
    <button class="btn btn-keypad">0</button>
   </td>
   <td colspan="3">
    <button class="btn btn-keypad">ENTER</button>
   </td>
  </tr>
 </table>
</div>
