<div ng-controller="headerControl">
    <div id="header-universe">
        <h4>{{header.name}}</h4>

        <div>(id: {{header.id}})</div>
    </div>
    <ul id="ola-nav-tabs" class="nav nav-tabs">
        <li id="overview" role="presentation" ng-class="{active: header.tab==''}">
            <a ng-href="/new/#/universe/{{header.id}}/">Overview</a>
        </li>
        <li id="faders" role="presentation" ng-class="{active: header.tab=='faders'}">
            <a ng-href="/new/#/universe/{{header.id}}/faders">Faders</a>
        </li>
        <li id="keypad" role="presentation" ng-class="{active: header.tab=='keypad'}">
            <a ng-href="/new/#/universe/{{header.id}}/keypad">Keypad</a>
        </li>
        <li id="rdm" role="presentation" ng-class="{active: header.tab=='rdm'}">
            <a ng-href="/new/#/universe/{{header.id}}/rdm">RDM</a>
        </li>
        <li id="patch" role="presentation" ng-class="{active: header.tab=='patch'}">
            <a ng-href="/new/#/universe/{{header.id}}/patch">RDM Patcher</a>
        </li>
        <li id="settings" role="presentation" ng-class="{active: header.tab=='settings'}">
            <a ng-href="/new/#/universe/{{header.id}}/settings">Settings</a>
        </li>
    </ul>
</div>