.keypad {
 width: 300px;
 text-align: center;
 right: 0;
 left: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5px;
}

.backspace.btn {
 width: 50px;
 margin: 2px;
}

.keypad-keys {
 margin-right: 7%;
 margin-left: 7%;
 margin-bottom: 7%;
 width: 86%;
}

.keypad-field.static-fake {
 display: inline-block;
 vertical-align: middle;
 padding-top: 5%;
 width: 190px;
 height: 50px;
 margin: 2px;
}

.keypad-keys .btn {
 width: 100%;
}

.btn-keypad {
 color: #333;
 background-color: #fff;
 border-color: #ccc;
 height: 50px;
}

.fader-fader {
 writing-mode: vertical-rl;
 -webkit-appearance: slider-vertical;
}

.fader-group {
 display: inline-block;
 text-align: center;
 border: solid #67a7e3 1px;
 border-radius: 4px;
 margin: 1px;
}

.value-fader {
 display: block;
 border: 0;
 padding: 0;
 text-align: center;
 width: 100%;
 height: 2em;
}

.faders {
 text-align: center;
 padding: 1px;
}

button.col-xs-3,
button.col-xs-3:active,
button.col-xs-3:focus {
 color: #ffffff;
 background-color: #67a7e3;
 border-color: transparent;
}

.col-xs-2.ng-binding {
 text-align: center;
 color: #ffffff;
 background-color: #67a7e3;
 height: 26px;
 line-height: 2;
 font-weight: bold;
}

.on,
.off {
 color: #ffffff;
 background-color: #67a7e3;
 border-color: transparent;
}

.right-col {
 border-bottom-right-radius: 4px;
 border-top-right-radius: 4px;
}

.left-col {
 border-bottom-left-radius: 4px;
 border-top-left-radius: 4px;
}

.navigate {
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 15px;
 height: 41px;
}

.navigate > .col-xs-3,
.navigate > .col-xs-2 {
 height: 100%;
 outline: none!important;
}

.value-div {
 display: inline-block;
}

.value-span {
 display: inline-block;
 font-size: 11px;
 border-bottom: 1px solid #67a7e3;
 border-right: 1px solid #67a7e3;
 width: 20px;
 text-align: center;
 margin: 1px;
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
 border-top-right-radius: 4px
}

.row {
 padding: 5px;
 text-align: center;
}

.index,
.value {
 text-align: center;
 width: 100%;
 height: 50%;
}

.channel {
 width: 30px;
 font-size: 10px;
 text-align: center;
 display: inline-block;
 border: 1px solid #337ab7;
 border-radius: 4px;
}

.status {
 padding: 5px;
 text-align: center;
 border: solid black 1px;
}

.status-light {
 width: 20px;
}

.status-light,
.status {
 display: inline-block;
 border-radius: 20px;
}

th.top-table,
tr.special-mouse > td {
 text-align: center;
 padding: 8px;
}

.plugin-table {
 text-align: center;
 width: 100%;
 margin-bottom: 10px;
}

.round-corners {
 border: solid black 1px;
 border-radius: 10px;
}

.top-table {
 border-bottom: solid black 1px;
}

tr.striped-table:nth-of-type(even) {
 background-color: #F8F8F8;
 border-top: solid lightgrey 1px;
 border-bottom: solid lightgrey 1px;
}

.special-mouse {
 cursor: pointer;
}

.navbar-info {
 margin-top: 8px;
 margin-bottom: 8px;
 font-size: 12px;
 text-align: center;
}

.navbar-desktop {
 float: right!important;
}

@media (min-width: 768px) {
 .navbar-mobile {
  display: none;
 }
 .number {
  width: 50px !important;
 }
}

@media (max-width: 768px) {
 .navbar-desktop {
  display: none;
 }
 .save-settings {
  width: 100%;
 }
}

div.checkbox-tr {
 text-align: center;
 vertical-align: middle;
}

table.table > tbody > tr > td.left-table {
 text-align: left;
}

.settings-table {
 text-align: left;
}

.settings-table > table {
 width: 100%;
}

input.priority {
 width: 70px;
}

select.priority {
 width: 90px;
 display: inline-block;
}

.caption-overview {
 width: 49%;
 display: inline-block;
}

.button-caption {
 text-align: right;
}

.btn-grey {
 background-color: #d3d3d3;
 color: #333;
 border-color: #BABABA;
}

td.align {
 text-align: left;
}

.plugin-icon {
 color: #898989;
}

div#header-universe {
 padding-bottom: 10px;
}

div#header-universe > h4 {
 display: inline;
 padding-right: 10px;
}

div#header-universe > div {
 color: lightgray;
 display: inline;
}

.static-fake {
 height: 34px;
 padding: 6px 12px;
 background-color: #eee;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
 -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
 padding: 3px;
}

table.info > tbody > tr > td {
 border-bottom: solid grey 1px;
 padding-left: 5px;
 padding-right: 5px;
}

.number {
 cursor: text!important;
}

.settings,
.input-group,
.save-settings {
 margin-top: 5px;
}
/* Begin custom checkboxes for plugins page */
/* Hide checkbox */

input.form-control[type="checkbox"] {
 display: none;
}
/* Mock checkbox in label */

input.form-control[type="checkbox"] + label span.glyphicon:before {
 width: 20px;
 height: 20px;
 border-radius: 4px;
 border: solid #ccc 1px;
 content: "\e014";
 /* Use cross as standard glyph */

 color: #d9534f;
 background-color: #fff;
 cursor: pointer;
}
/* Use check glyph if checked */

input.form-control[type="checkbox"]:checked + label span.glyphicon:before {
 content: "\e013";
 color: #5cb85c;
}
/* grey out checkbox if disabled */

input.form-control[type="checkbox"][disabled] + label span.glyphicon:before {
 color: darkgrey;
}
/* End custom checkboxes */

label.fake-check {
 margin-top: 5px;
 margin-bottom: 0;
}

.nav-tabs {
 overflow-x: auto;
 overflow-y: hidden;
 display: -webkit-box;
 display: -moz-box;
}
.nav-tabs>li {
 float:none;
}

.nav-tabs::-webkit-scrollbar {
 -webkit-appearance: none;
}
.nav-tabs::-webkit-scrollbar-thumb {
 background-color: rgba(0, 0, 0, .5);
 border-radius: 10px;
 border: 2px solid #ffffff;
}
.nav-tabs::-webkit-scrollbar-track {
 border-radius: 10px;
 background-color: #ffffff;
}
.nav-tabs::-webkit-scrollbar:vertical {
 width: 12px;
}
.nav-tabs::-webkit-scrollbar:horizontal {
 height: 12px;
}
